.card__grid {
  display: flex;
  flex-direction: column;
}

.account__card {
  background-color: var(--backgroundColor);
  border-radius: var(--borderRadius);
  margin: 1rem;
  padding-block: 0.4rem;
  padding-inline: 1.6rem;
  height: 27rem;
  width: 45rem;
  position: relative;
  border: var(--border);
  text-align: left;
}

.divider {
  display: flex;
  flex-direction: row;

  & span {
    margin-top: 1.4em;
    border-top: 1px solid var(--accentColor);
    width: 40%;
  }

  & p {
    padding-inline: 0.5em;
    opacity: 0.6;
    font-size: 0.9em;
  }
}

.email__input {
  display: flex;
  flex-direction: column;

  & input {
    margin-bottom: 1rem;
    margin-top: 0.5rem;
  }
}

.payment__card {
  background-color: var(--backgroundColor);
  border-radius: var(--borderRadius);
  margin: 1rem;
  padding-block: 0.4rem;
  padding-inline: 1.6rem;
  height: 33rem;
  width: 45rem;
  position: relative;
  border: var(--border);
  text-align: left;
}

.payment__options {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 1rem;
  gap: 1rem;
  color: white;
}

.payment__optionsCard {
  background-color: var(--backgroundColor);
  color: white;
  border: 2px solid var(--accentColor);
  border-radius: var(--borderRadius);
  padding: 1rem;
  height: 3rem;
  width: 100%;
  position: relative;

  & h3 {
    text-align: center;
    margin-top: 0.8rem;
  }
}

.payment__optionsCard:first-child {
  border: 1px solid white;
}

.payment__optionsCard:hover {
  background-color: var(--accentColor);
}

.payment__input {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;

  & input {
    margin-bottom: 1rem;
    margin-top: 0.5rem;
  }
}

.card__info {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: white;

  & select {
    width: 14.5rem;
  }

  & label {
    margin-bottom: 1rem;
    width: 14rem;
  }
}

.cvc label {
  margin-top: 1rem;
  margin-bottom: 0.4rem;
}

.cvc input {
  padding-block: 0.5rem;
  padding-inline: 0.8rem;
}

.expires,
.year,
.cvc {
  display: flex;
  flex-direction: column;
}

.team-card {
  background-color: var(--backgroundColor);
  border-radius: var(--borderRadius);
  margin: 1rem;
  padding-block: 0.4rem;
  padding-inline: 1.6rem;
  height: 15rem;
  width: 45rem;
  position: relative;
  border: var(--border);
  text-align: left;
}

.team__grid {
  display: grid;
  grid-template-rows: auto;

  & div {
    display: flex;
    text-align: left;
    align-items: center;
    margin-block: 1rem;
  }
}

.team-name {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  margin-block: 0.1rem;
  line-height: 0.9rem;
  font-size: 0.8rem;

  & h3 {
    margin-block: 0.2rem;
  }

  & p {
    margin-block: 0.2rem;
    opacity: .6;
    font-size: .9rem;
  }
}


.team__role {
  margin-left: auto;
  font-size: 1.2rem;
}

.card-card {
  background-color: var(--backgroundColor);
  border-radius: var(--borderRadius);
  margin: 1rem;
  padding-block: 0.4rem;
  padding-inline: 1.6rem;
  height: 27rem;
  width: 45rem;
  position: relative;
  border: var(--border);
  text-align: left;
}
