.dashboard__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--accentColor);
  padding-inline: 1rem;
}

.dashboard__nav ul {
  list-style-type: none;
}

.dashboard__nav li {
  display: inline;
  opacity: 0.8;
  padding-inline: 0.4rem;
}

.dashboard__nav li:hover {
  opacity: 1;
}

.avatar {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin-left: 1rem;
}

.dashboard__header {
  display: flex;
  align-items: center;
  margin: 1rem;
}

.dashboard__buttons {
  position: absolute;
  right: 90px;
}

.dashboard__tabs {
  width: 400px;
}

.dashboard__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1px;
}

.detail__card {
  background-color: var(--backgroundColor);
  border-radius: var(--borderRadius);
  margin: 1rem;
  padding-block: 0.4rem;
  padding-inline: 1.6rem;
  height: 27rem;
  width: 45rem;
  position: relative;
  border: 1px solid var(--accentColor);
  text-align: left;
}

.sales__grid {
    display: grid;
    grid-template-rows: auto;
}

.sales__grid div {
    display: flex;
    align-items: center;
}

.sales__avatar {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.sales__name {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    margin-block: .1rem;
    line-height: 0.9rem;
    font-size: 0.8rem;
}

.sale__amount {
  margin-left: auto;
  font-size: 1.2rem;
}

.detail__card h3 {
    margin-bottom: 0.1rem;
}
.detail__card p {
    opacity: 0.6;
    margin-top: 0.4rem;
}

.dashboard__card {
  background-color: var(--backgroundColor);
  border-radius: var(--borderRadius);
  margin: 1rem;
  padding-block: 2rem;
  padding-inline: 1.6rem;
  height: 60px;
  width: 20rem;
  position: relative;
  border: 1px solid var(--accentColor);
  text-align: left;
}

.card__icon {
  display: flex;
  position: absolute;
  top: 0.1rem;
  right: 1rem;
  font-size: 0.8rem;
}

.dashboard__card h3 {
  font-size: 1rem;
  margin-block: 0.1rem;
  font-weight: bold;
  line-height: 0.2rem;
}

.dashboard__card-description {
  font-size: 1.6rem;
  font-weight: bold;
  margin-bottom: 0.1rem;
  margin-top: 1rem;
}

.dashboard__card-content {
  display: flex;
  font-size: 0.8rem;
  color: rgb(152, 142, 125);
  margin-top: 0.1rem;
}