/*  Dashboard Classes */

.dashboard-nav {
  display: flex;
  align-items: center;
  border-bottom: 0.1rem solid var(--accentColor);
  width: 95%;
  padding-inline: 1rem;
}

.dashboard-nav ul {
  list-style-type: none;
}

.dashboard-nav li {
  display: inline;
  opacity: 0.8;
  padding-inline: 0.4rem;
}

.dashboard-nav li:hover {
  opacity: 1;
}

.dashboard-nav select {
  background-color: var(--backgroundColor);
  border-radius: var(--borderRadius);
  padding-block: 0.5rem;
  padding-inline: 0.8rem;
  color: white;
}

.dashboard-nav select:hover {
  background-color: var(--buttonColor);
}

.avatar {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin-left: 1rem;
}

.dashboard-header {
  display: flex;
  align-items: center;
  margin: 1rem;
}

.dashboard-buttons {
  position: absolute;
  right: 90px;
}

.dashboard-tabs {
  width: 400px;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1px;
}

.detail-card {
  background-color: var(--backgroundColor);
  border-radius: var(--borderRadius);
  margin: 1rem;
  padding-block: 0.4rem;
  padding-inline: 1.6rem;
  height: 27rem;
  width: 45rem;
  position: relative;
  border: 1px solid var(--accentColor);
  text-align: left;
}

.sales-grid {
    display: grid;
    grid-template-rows: auto;
}

.sales-grid div {
    display: flex;
    align-items: center;
}

.sales-avatar {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.sales-name {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    margin-block: .1rem;
    line-height: 0.9rem;
    font-size: 0.8rem;
}

.sale-amount {
  margin-left: auto;
  font-size: 1.2rem;
}

.detail-card h3 {
    margin-bottom: 0.1rem;
}
.detail-card p {
    opacity: 0.6;
    margin-top: 0.4rem;
}

.dashboard-card {
  background-color: var(--backgroundColor);
  border-radius: var(--borderRadius);
  margin: 1rem;
  padding-block: 2rem;
  padding-inline: 1.6rem;
  height: 60px;
  width: 20rem;
  position: relative;
  border: 1px solid var(--accentColor);
  text-align: left;
}

.card-icon {
  display: flex;
  position: absolute;
  top: 0.1rem;
  right: 1rem;
  font-size: 0.8rem;
}

.dashboard-card h3 {
  font-size: 1rem;
  margin-block: 0.1rem;
  font-weight: bold;
  line-height: 0.2rem;
}

.dashboard-card-description {
  font-size: 1.6rem;
  font-weight: bold;
  margin-bottom: 0.1rem;
  margin-top: 1rem;
}

.dashboard-card-content {
  display: flex;
  font-size: 0.8rem;
  color: rgb(152, 142, 125);
  margin-top: 0.1rem;
}