.mail__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--accentColor);
  padding-inline: 1rem;
}

.inbox__header {
  display: flex;
  justify-content: space-between;
  gap: 10rem;
  align-items: center;
  font-size: 1.3rem;
}
.mail__content {
  display: flex;
  justify-content: space-between;
}

.column {
  padding: 0.5rem;
}

.column__content {
  padding-inline: 1rem;
  border-right: 1px solid var(--accentColor);
}


.inbox-section {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding-block: 1rem;

  & input {
    margin-bottom: 0.8rem;
  }
}

.home-card {
  background-color: var(--backgroundColor);
  border-radius: var(--borderRadius);
  margin: 0.3rem 0;
  padding: 1.2rem 1rem;
  height: 120px;
  position: relative;
  border: var(--border);
  text-align: left;
}

.timestamp {
  position: absolute;
  top: 0.1rem;
  right: 1rem;
  font-size: 0.8rem;
}

.home-card-title {
  font-size: 1rem;
  margin-block: 0.1rem;
  font-weight: bold;
  line-height: 0.2rem;
}

.home-card-description {
  font-size: 0.8rem;
  font-weight: bold;
}

.home-card-content {
  font-size: 0.8rem;
  color: rgb(152, 142, 125);
}

.home-card-footer {
  font-size: 0.8rem;
}

.mail-tabs {
  padding-block: 1rem;
  list-style: none;
  text-align: left;
  margin-bottom: 1rem;

  & div {
    border: none;
    padding: 0.5rem 0.6rem;
    margin: 0.2rem 1rem;
    border-radius: var(--borderRadius);
    background-color: var(--backgroundColor);
  }

  & div:hover {
    background-color: var(--buttonColor);
  }

  & .active {
    background-color: var(--buttonColor);
  }
}

.mail-tabs:first-child {
  border-bottom: 1px solid var(--accentColor);
}
