:root {
  --borderRadius: 0.4rem;
  --backgroundColor: #0a0a0a;
  --accentColor: #28282b;
  --buttonColor: #202324;
  --buttonPaddingInline: 0.8rem;
  --buttonPaddingBlock: 0.6rem;
}

body {
  background-color: var(--backgroundColor);
  color: white;
  min-height: 100vh;
  margin: 0;
}

nav {
  width: 100%;
  border-bottom: 0.1rem solid var(--accentColor);
  display: inline-block;
}

nav:first-child {
  padding-left: 3rem;
  font-weight: bold;
}

main {
  text-align: center;
}

a {
  color: white;
  text-decoration: none;
}

input {
  border: 1px solid var(--accentColor);
  border-radius: var(--borderRadius);
  background-color: var(--backgroundColor);
  padding: 0.5rem;
}

/* Nav Classes  */

.nav-links {
  list-style: none;
  display: inline-flex;
  gap: 1rem;
  padding: 0rem 1rem;
}

/* @media (max-width: 767px) {
        .nav-links {
                display: none;
    }
         
 } */

.nav-links li {
  opacity: 0.6;
}

.nav-links li:hover {
  opacity: 0.8;
}

/* Hero Classes */

.hero {
  padding: 2rem;
}

.hero h1 {
  font-size: 2.5rem;
  margin-block: 1rem;
}

.hero p {
  font-size: 1.1rem;
}

/* button classes */

.basic-button {
  border: none;
  color: white;
  border-radius: var(--borderRadius);
  font-size: 0.9rem;
  padding-block: var(--buttonPaddingBlock);
  padding-inline: var(--buttonPaddingInline);
  background-color: var(--buttonColor);
  cursor: pointer;
}

.accent-button {
  border: none;
  color: var(--backgroundColor);
  border-radius: var(--borderRadius);
  font-size: 0.9rem;
  padding-block: var(--buttonPaddingBlock);
  padding-inline: var(--buttonPaddingInline);
  background-color: white;
  cursor: pointer;
}

.small-basic-button {
  border: none;
  color: white;
  border-radius: var(--borderRadius);
  font-size: 0.8rem;
  padding-block: 0.3rem;
  padding-inline: 0.7rem;
  font-weight: bold;
  opacity: 0.9;
  background-color: var(--buttonColor);
  cursor: pointer;
  margin-inline: 0.3rem;
}

.small-basic-button:first-child {
  margin-left: 0;
}

.hover-button {
  background-color: var(--backgroundColor);
  border: 1px solid var(--accentColor);
  border-radius: var(--borderRadius);
  color: white;
  font-size: 0.9rem;
  padding-block: var(--buttonPaddingBlock);
  padding-inline: var(--buttonPaddingInline);
  cursor: pointer;
}

.hover-button:hover {
  background-color: var(--buttonColor);
}

.button-container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding-block: 1rem;
  gap: 1rem;
  color: white;
}



.long-button {
  background-color: var(--backgroundColor);
  border: 1px solid var(--accentColor);
  border-radius: var(--borderRadius);
  color: white;
  padding-block: var(--buttonPaddingBlock);
  padding-inline: var(--buttonPaddingInline);
  width: 25rem;
}

/* Component display classes */

.page {
  display: none;
}

.page.active {
  display: block;
}
.component-tab-list {
  list-style: none;
  display: inline-flex;
  gap: 1rem;
  padding: 0rem 1rem;
}

.component-tab-list li {
  color: #d2cbbe;
  opacity: 0.8;
}

.component-tab-list li:hover {
  color: rgb(210, 203, 190);
  opacity: 1;
}

.component-display {
  border: 1px solid var(--accentColor);
  border-radius: var(--borderRadius);
  background-color: var(--backgroundColor);
  margin-inline: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*Classes for the cards*/

.card {
  background-color: white;
  color: #262226;
  border-radius: var(--borderRadius);
  margin: 1rem;
  padding: 1rem;
  height: 300px;
  width: 300px;
  position: relative;
}

.card-title {
  font-size: 1.5rem;
  margin-bottom: 0.1rem;
}

.card-description {
  font-size: 0.8rem;
  margin-bottom: 1rem;
}

.card-content {
  display: flex;
}

.card-footer {
  display: flex;
  position: absolute;
  bottom: 1rem;
  right: 2.5rem;
  font-size: 0.8rem;
}

.clickable-card {
  background-color: white;
  color: #262226;
  border-radius: var(--borderRadius);
  margin: 1rem;
  padding: 1rem;
  height: 300px;
  width: 300px;
  position: relative;
}

.clickable-card:hover {
  transform: translateY(-1px);
  box-shadow: 10px 10px 10px #262226;
}

.clickable-card:active {
  transform: translateY(0);
}
